.retsly-js-virtualtour {

}

.retsly-js-virtualtour ul {
  position: relative;
}

.retsly-js-virtualtour li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  position: absolute;
  z-index: 0;
  opacity: 0;
  display: block;
}

.retsly-js-virtualtour li .retsly-js-virtualtour-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.retsly-js-virtualtour li .retsly-js-virtualtour-overlay h2 {
  margin: 30px 30px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.retsly-js-virtualtour li .retsly-js-virtualtour-overlay h3 {
  margin: 10px 30px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
